@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.2rem;
    color: white;
    font-family: 'Mali', cursive;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;

    & button {
        padding: 50px 100px;
        margin-top: 20px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.1s linear;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background: purple;
        color: white;
        border: 1px solid purple;
 
        .circle {
            content: "";
            position: absolute;
            background: #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.1s linear;
            animation: scale 0.5s ease-out;
            overflow: hidden;
        }
    }
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(40);
        opacity: 0;
    }
}